name: PCB things
on:
  pull_request:
    paths:
      - '*.kicad_sch'
      - '*.kicad_pcb'
      - '.github/workflows/*.yml'
    branches:
      - main
  push:
    branches:
    - main

jobs:
  kibot:
    uses: ./.github/workflows/kibot.yml
    secrets: inherit
